@charset "UTF-8";
/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* background страницы #E5E5E5 */
/* background футера #2F303A; */
/* background кнопок #F5F4FA */
/* тень 0px 4px 4px rgba(0, 0, 0, 0.15); */
/* цвет мыла и тел. в футере rgba(255, 255, 255, 0.6);
 */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --bg-color-ourteam: #e5e5e5;
  --bg-footer: #2f303a;
  --bg-color-section: #f5f4fa;
  --bg-color-title: #2f303a;
  --bg-color-btn-section: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* *,
*::before,
*::after{
  box-sizing: inherit;
} */
/* ***************** */
/* Body */
/* ***************** */
.body {
  color: var(--main-text-color);
  background-color: var(--primery-white-color);
  font-family: "Raleway", "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.portfolio__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .portfolio__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__container {
    width: 1200px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  margin: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  list-style: none;
  letter-spacing: 0.02em;
}

.list {
  font-family: "Roboto";
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn__hero {
  color: var(--bg-color-section);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px 32px;
  letter-spacing: 0.06em;
}

.btn__hero:hover, .btn__hero:focus {
  background-color: #188ce8;
}

.btn {
  color: var(--main-text-color);
  background-color: var(--bg-color-section);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button {
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.portfolio__container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .portfolio__container .button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__container .button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__button--filter {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--bg-color-section);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button--filter:hover, .portfolio__button--filter:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* .filter-button{
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--bg-color-section);
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus{
  color: var(--primery-white-color);
  background-color: var(--accent-color);
} */
.portfolio .portfolio__link {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .portfolio__link {
    margin-bottom: 15px;
  }
}

.portfolio .portfolio__link:last-child {
  margin-right: 0px;
}

.form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primery-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  padding: 10px 29px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .submit__button {
    margin: 0 auto 0 auto;
  }
}

.submit__button:hover, .submit__button:focus {
  background-color: var(--bg-color-btn-section);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ***************** */
/* Logo */
/* ***************** */
.logo {
  padding-top: 24px;
  margin-right: 93px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767.98px) {
  .logo {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .logo {
    margin-right: 88px;
    padding-right: 0;
  }
}

.header__logo--accent {
  color: var(--main-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo--accent {
  color: var(--primery-white-color);
}

.footer__logo {
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 154px;
    height: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__logo {
    margin: 0 auto 0 auto;
    width: 154px;
    height: 28px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/**************/
/* Modal form  */
/**************/
.modal__form {
  padding: 40px;
}

.form__title,
.form__group,
.form__label,
.form__message,
.form__checkbox {
  display: block;
}

.form-title {
  font-family: "Roboto";
  font-weight: 700;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.form__group--policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto";
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #757575;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto";
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #757575;
}

/* .input-box{
    position: relative;
    width: 100%;
  } */
.form__input {
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  outline: 1px solid var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover ~ .form__icon {
  fill: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon:hover, .form__icon:focus {
  fill: var(--accent-color);
}

.form__message {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__message:hover, .form__message:focus {
  outline: 1px solid var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

.form-checkbox-desc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__conf {
  color: var(--accent-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  border-bottom: 1px solid var(--accent-color);
  -webkit-transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__conf:hover, .form__conf:focus {
  color: var(--bg-color-btn-section);
}

.checkbox__custom {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid;
  outline-offset: -2px;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__custom {
  background-color: var(--accent-color);
  outline: var(--bg-color-btn-section);
}

.checkbox__custom__icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__custom .checkbox__custom__icon {
  opacity: 1;
}

.visually-hidden {
  visibility: hidden;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  /* height: 581px; */
  /* padding: 40px; */
  background-color: var(--primery-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation-name: visible-modal;
          animation-name: visible-modal;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes visible-modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes visible-modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal__icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  color: var(--main-text-color);
  -webkit-transition: color, -webkit-transform;
  transition: color, -webkit-transform;
  transition: color, transform;
  transition: color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  padding: 0;
}

.modal__icon:hover, .modal__icon:hover {
  color: var(--secondary-text-color);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: var(--accent-color);
}

.social__networks {
  margin: 0;
}

.social__networks--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primery-white-color);
  border-radius: 50%;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--primery-white-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: #afb1b8;
  background-color: transparent;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--primery-white-color);
}

.footer__subject {
  color: var(--primery-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer__subject {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .social {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .social {
    margin: 0 auto 60px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-top: 12px;
    margin-right: auto;
  }
}

.footer__team--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.footer__social__item:not(:last-child) {
  margin-right: 10px;
}

.footer__social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social__link:hover, .footer__social__link:focus {
  background-color: var(--accent-color);
}

.footer__social__icon {
  fill: var(--primery-white-color);
}

@media screen and (min-width: 480px) {
  .footer__social__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__social__form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social__form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/* ***************** */
/* Постоянные клиенты */
/* ***************** */
.clients__title {
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  .clients__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.list {
  list-style: none;
}

.clients__list {
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item {
  margin-right: 30px;
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 1 * 30px) / 2);
        flex-basis: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item:nth-child(3n) {
    margin: 0;
  }
}

.clients__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .clients__link {
    width: 210;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* ***************** */
/* Footer */
/* ***************** */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__adress {
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__adress {
    margin-right: 165px;
    text-align: center;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-right: 70px;
  }
}

.address {
  font-family: "Roboto";
}

@media screen and (max-width: 767.98px) {
  .address {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin: 0;
    padding: 0;
  }
}

.address :hover,
.address :focus {
  color: var(--accent-color);
}

.address-geo {
  color: var(--primery-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address__contacts {
  color: var(--footer-contacts-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address__contacts :hover,
.footer__address__contacts :focus {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .address__link {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__link {
    margin-bottom: 9px;
  }
}

.address__link:last-child {
  margin-bottom: 0;
}

.footer__subject__form {
  display: block;
  color: var(--primery-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer__subject__form {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration: column;
          text-decoration: column;
}

@media screen and (min-width: 480px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-text-decoration: column;
            text-decoration: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

/* .footer__label__email{
  box-sizing: border-box;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
} */
.footer__email__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: var(--bg-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767.98px) {
  .footer__email__input {
    width: 450px;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__email__input {
    width: 450px;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.footer__email__input:hover, .footer__email__input:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send__icon {
  fill: currentColor;
  margin-left: 10px;
}

/* ***************** */
/* Header */
/* ***************** */
.header {
  color: var(--main-text-color);
  background-color: var(--primery-white-color);
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ***************** */
/* Navigation  */
/* ***************** */
.navigation {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767.98px) {
  .navigation {
    display: none;
  }
}

.site__nav {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.link__items {
  margin-right: 50px;
}

.link__items:last-child {
  margin-right: 0px;
}

.items {
  padding: 0;
  margin: 0;
}

.items :hover,
.items :focus, .items.current,
.items :active {
  color: var(--accent-color);
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link :hover,
.navigation__link :focus {
  color: var(--accent-color);
  display: block;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 84px;
  }
}

.header__contacts :hover,
.header__contacts :focus {
  color: var(--accent-color);
}

.header__contacts--studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts--studio {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

.header__contacts--mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts--mail {
    margin-right: 0;
    padding: 0 0 10px 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

.link__items--current > .navigation__link::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link__items--current {
  margin-right: 50px;
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/***************/
/* Hero */
/***************/
.hero {
  text-align: center;
}

.hero__container {
  min-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_sm.jpg);
  background-color: var(--bg-color-title);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_md.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_lg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_lg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: var(--primery-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn-section :hover {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

.btn-section :focus {
  color: var(--main-text-color);
  background-color: var(--bg-color-btn-section);
}

/* ***************** */
/* Проэкты */
/* ***************** */
.heading {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.desc {
  font-family: "Roboto";
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767.98px) {
  .cards {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: -30px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    margin-bottom: 0;
    margin-top: -30px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cards__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--primery-white-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

@media screen and (max-width: 767.98px) {
  .cards__link {
    width: 450px;
    margin: 0 0 30px 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cards__link {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cards__link {
    width: 370px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 30px;
  }
}

.cards__link:hover, .cards__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 1200px) {
  .cards__link:nth-child(3n) {
    margin-right: 0;
  }
  .cards__link:last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cards__link:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cards__link:last-child {
    margin: 0;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .gallery {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block__desk {
  display: block;
  width: 370;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block__desk .heading {
  margin-bottom: 4px;
  margin-top: 0;
}

.block__desk .desc {
  margin: 0;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery:hover .overlay-text,
.gallery:hover .overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

/* ***************** */
/* Особенности */
/* ***************** */
.subtitles {
  padding-bottom: 10px;
  margin: 0;
  color: var(--main-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .subtitles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.text {
  margin: 0;
  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .special__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.special__link {
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .special__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .special__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding-right: 30px;
  }
}

.special__link:last-child {
  padding-right: 0px;
}

.special__list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .special__list {
    -ms-flex-preferred-size: calc((100% - 1 * 30px) / 2);
        flex-basis: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .special__list {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .special__list:nth-child(2n + 2) {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .special__list:nth-child(2n + 2) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .special__list:last-child {
    margin-right: 0;
  }
}

.list__icon:hover,
.list__icon:focus {
  fill: var(--accent-color);
}

.special__list__icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .special__list__icon {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .special__list__icon {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .special__list__icon {
    width: 270px;
    height: 120px;
  }
}

/* ***************** */
/* Наша Команда */
/* ***************** */
.team {
  color: var(--bg-color-section);
  background: #f5f4fa;
}

@media screen and (max-width: 767.98px) {
  .work__team--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .work__team--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work__team--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    margin: 0;
  }
}

.team__list {
  background: #f5f4fa;
}

@media screen and (max-width: 767.98px) {
  .team__list {
    margin-bottom: 30px;
    width: 450px;
    height: 622px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin-right: 30px;
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list:nth-child(2n + 2) {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__list:last-child {
    margin-right: 0;
  }
}

.personal {
  background-color: var(--primery-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.personal__team {
  display: block;
  padding-top: 30px;
}

@media screen and (min-width: 480px) {
  .personal__team {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .personal__team {
    padding-bottom: 30px;
  }
}

.personal__team .caption {
  margin-top: 0;
  margin-bottom: 10px;
}

.personal__team .list {
  margin-top: 0;
  margin-bottom: 16px;
}

.caption {
  font-family: "Roboto";
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__subtitles__team {
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  .work__subtitles__team {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work__subtitles__team {
    margin-bottom: 50px;
  }
}

.subject {
  color: var(--main-text-color);
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .subject {
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .subject {
    font-size: 36px;
    line-height: 1.16;
  }
}

/* ***************** */
/* Чем мы занимаемся */
/* ***************** */
.work__container {
  display: block;
}

@media screen and (max-width: 1199.98px) {
  .work__container {
    display: none;
    padding-top: 0;
  }
}

.work__subtitles {
  margin-top: 0;
  margin-bottom: 50px;
}

.special__link {
  padding: 0;
}

.work__list {
  position: relative;
  margin-right: 30px;
}

.special__link > .work__list {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}

.work__list:last-child {
  padding-right: 0;
}

.work {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: var(--primery-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle--close,
.menu-toggle--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .menu-toggle--close,
  .menu-toggle--open {
    display: none;
  }
}

.menu-toggle--close:hover, .menu-toggle--close:focus,
.menu-toggle--open:hover,
.menu-toggle--open:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.icon-close-menu,
.icon-open-menu {
  width: 40px;
  height: 40px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:hover {
  color: var(--accent-color);
}

.nav__link--active {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts-link-tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .mobile-menu__contacts-link-tel {
    font-size: calc(20px + 1vw);
  }
}

.mobile-menu__contacts-link-tel:hover, .mobile-menu__contacts-link-tel:focus {
  color: var(--accent-color);
}

.mobile-menu__contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primery-text-color);
}

.mobile-menu__contacts-link-mail:hover, .mobile-menu__contacts-link-mail:focus {
  color: var(--accent-color);
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__items {
  position: relative;
}

.mobile-menu__items:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__socials-link:hover, .mobile-menu__socials-link:focus {
  color: var(--accent-color);
}

.mobile-menu__items:not(:last-child) .mobile-menu__socials-link::after {
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-link::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 22px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */