.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 40px; */
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  animation-name: visible-modal;
  animation-duration: 2500ms;
  animation-timing-function: linear;

  width: 450px;
  height: 609px;

  @include mq(desktop) {
    width: 528px;
    height: 581px;
  }
}

@keyframes visible-modal {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.modal__icon {
  transform: rotate(0deg);
  color: var(--main-text-color);
  transition: color, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
  padding: 0;

  &:hover,
  &:hover {
    color: var(--secondary-text-color);
    transform: rotate(180deg);
    fill: var(--accent-color);
  }
}
